html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ol, ul {
	list-style: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    background-color: white;
    width: 100%;
    height: 100%;
    border: 1px solid green;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 4fr;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: aliceblue;
}

.div-header {
    width: 30%;
    height: 60%;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    
}

.main {
    background-color: rgba(254, 254, 254, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(219, 248, 248);
}

.sidebar-home {
    width: 90%;
    height: 100%;
}

.sidebar-projects {
    width: 90%;
    height: 100%;
}

.app-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.title {
    display: flex;
    align-items: center;
}

.menu-icon {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.dark-mode {
    display: grid;
    justify-content: end;
    align-items: center;
}

.dark-mode img:hover, .menu-icon img:hover {
    cursor: pointer;
}

.sidebar-title {
    border-bottom: 4px solid black;
    font-size: 200%;
    padding-bottom: 3%;
}

.add-project {
    display: flex;
    align-items: center;
    font-size: 100%;
    gap: 2%;
    margin-top: 5%;
    height: 10%;
}

.add-project:hover {
    background-color: lightslategray;
    cursor: pointer;
    color: white;
    border-radius: 6px;
}

.time-period {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3%;
}

.time-period h3 {
    font-size: 100%;
    margin-left: 5%;
    font-weight: 600;
}

.time-period:hover {
    background-color: lightslategray;
    cursor: pointer;
    color: white;
    border-radius: 6px;
}

.clicked {
    background-color: lightslategray;
    cursor: pointer;
    color: white;
    border-radius: 6px;
}


h1 {
    font-size: 400%;
    font-weight: 500;
}

.hide-sidebar {
    display: none;
}

.inner-text {
    background-color: rgb(219, 248, 248);
    border-radius: 6px;
    display: flex;
    width: 90%;
    height: 15%;
    justify-content: center;
    align-items: center;
    margin: 2%;
    text-align: center;
    font-size: 80%;
}

.blank {
    display: none;
}

#show-add-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightslategray;
    border-radius: 6px;
    height: 25%;
    max-height: 50px;
    width: 100%;
    margin-top: 2%;
}

input {
    background-color: white;
    border-radius: 6px;
    border: 1px solid black;
    height: 30%;
    width: 80%;
    text-align: center;
}

.my-projects {
    display: none;
    height: 90%;
    width: 90%;
}

#show-my-projects {
    display: flex;
    flex-direction: column;
    color: white;
    height:55%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#buttons-div {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-evenly; 
}

#decline, #accept, .accept, .decline, .hide {
    border-radius: 6px;
    width: 30%;
    height: 100%;
    border: 1px solid black;
}

#decline:hover, #accept:hover, .accept:hover, .decline:hover, .hide:hover {
    transform: scale(1.1);
    transition: ease-in-out;
    cursor: pointer;
}

#accept, .accept {
    background-color: lightgreen;
}

#decline, .decline {
    background-color: lightcoral;
}

.div-project {
    background-color: lightslategray;
    border-radius: 2px;
    display: flex;
    width: 90%;
    height: 50%;
    max-height: 20px;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
    text-align: center;
    font-size: 100%;
}

.div-project:first-of-type {
    margin-top: 5%;
}


.div-project:hover {
    background-color: lightgreen;
    color: black;
    cursor: pointer;
}

.icon-div {
    width: 5%;
    height: 80%;
}

.p-container {
    width: 80%;
}

.clicked-project {
    background-color: lightgreen;
    border-radius: 2px;
    display: flex;
    width: 90%;
    height: 50%;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
    text-align: center;
    font-size: 100%;
    cursor: pointer;
    color: black;
}

.description {
    text-align: center;
    font-size: 150%;
}


.div-create-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 10%;
    text-align: center;
    font-size: 150%;
}

.container-create-task {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    height: 100%;
    width: 20%;
}

.container-create-task:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: lightgreen;
}

#no-show {
    display: none;
}

#yes-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 30%;
    background-color: rgb(219, 248, 248);
    border: 1px solid black;
    border-radius: 6px;
    margin-bottom: 2%;
}

#task-form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#task-form label {
   font-size: 100%;
   font-weight: bold;
   align-self: flex-start;
}

#task-form input {
    width: 100%;
} 

#button-container-task {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    width: 100%;
    height: 20%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.wrapper img {
    width: 30px;
    height: 30px;
}

.input-task {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.priority-task {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.priority-task .wrapper {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: cnter;
}

input[type="checkbox"] {
    align-self: flex-start;
    width: 18px; /* Ancho personalizado */
    height: 18px; /* Altura personalizada */
}

#tasks-container {
    width: 90%;
    height: 50%;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: repeat(auto-fill, minmax(70px, 1fr));
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;    
}

.div-has-task {
    width: 99%;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    background-color: rgb(219, 248, 248);
    display: flex;
    max-height: 70px;
}

.left-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 100%;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 80%;
    height: 100%;
    padding-left: 2%;
}

.check {
    width: 100% !important;
    height: 40% !important;
    align-self: center !important;
}
.check-box {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}


input[type="radio"] {
    width: 100%;
    height: 40%;
}

.right-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    height: 100%;
}

.task-img {
    width: 25px;
    height: 25px;
}

.task-img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.task-title {
    font-size: 150%;
}

.task-description {
    font-style: italic;
}

.task-date {
    border: 1px solid black;
    border-radius: 12px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

#blank-edit-project {
    display: none;
}

#show-edit-project {
    display: flex;
}

.div-edit-project {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.p-edit-project {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    text-align: center;
}

.p-edit-project:hover {
    background-color: #fff;
    cursor: pointer;
}

.edit-with-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.edit-with-buttons input {
    border: 1px solid black;
    
    width: 60%;
    height: 60%;
}

#save, #cancel {
    width: 20px;
    height: 20px;
}

#save:hover, #cancel:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#right-container-edit-projects {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

#full-main {
    width: 100vw;
    height: 100vh;
}
